---
import TodoList from "../components/TodoList.astro";

let base_url = "http://127.0.0.1:8080";

let todos_endpoint = `${base_url}/todos`;

let todos = await (await fetch(todos_endpoint)).json();

let url = `${base_url}/add_todo`;
let list_counter = 0;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Todos</h1>
		<TodoList title="First List" todos={todos} id={list_counter++} />
	</body>
</html>
